button {
    background: $dark-grey;
    border: none;
    color: #fff;
    border-radius: $radius;
    font-size: $font-sm;
    padding: 1vw 3vw;
    text-transform: lowercase;
}

input[type="text"], input[type="email"], input[type="number"] {
  padding: $input-pad;
  border: solid 1px $black;
  width: 50%;
  margin-right: $gutter-sm;
  font-size: $font-sm;
  margin-bottom: $gutter-sm;
}

body {
  font-family: $font;
}

