button {
    background: $dark-grey;
    border: none;
    color: $white;
    @include border-radius($radius);
    font-size: $font-sm;
    padding: 1vw 3vw;
    text-transform: lowercase;
    margin: $gutter-sm 0;
}

input{
  padding: $input-pad;
  border: solid 1px $dark-grey;
  width: 50%;
  margin:  $gutter-sm;
  font-size: $font-sm;
  // margin-bottom: $gutter-sm;
  @include border-radius(5px);
}


body {
  font-family: $font;
  background-color: $tereriary-color;
  width: 100%;
  color: $dark-grey;
}

ul {
  list-style: none;
}

a {
    color: $secondary-color;
}


h2 {
  font-size: $font-lg;
  padding-bottom: $gutter-sm;
}
h1 {
  font-size: $font-lg +1vw;
  padding-bottom: $gutter-sm;
}

