@import '../../style/lib/vars';
@import '../../style/lib/mixins';

.expense-item {
  width: 40%;
  margin:  2vw;
  border: 1px solid $dark-grey;
  @include border-radius($radius);
  background-color: $tereriary-color;
  display: inline-block;

  .remove {
    padding: 1vw;
  }  
  p:first-of-type {
    padding-top: 1vw;
  }
  p{
    // display: inline-block;
    padding: .25vw .5vw .25vw $gutter-sm;
  }
  
}

.expense-container {
  float: left;
  width: 100%;

  input {
    // margin: 0.25vw $gutter-sm 0.25vw $gutter-sm;
  }
}

.expense-list {
  float: left;
  width: 70%;
}

