@import '../../style/lib/vars';
@import '../../style/lib/mixins';

nav li{
  display: inline-block;
  margin-right: $gutter-lg;
}

// .dashboard h4 {
//   font-size: 20px;
//   padding-bottom: 15px;
// }


// .dashboard p {
//   font-size: 20px;
//   padding: 10px;
//   text-align: left;
// }

.lower {
  padding: $gutter-lg;
  padding-top: 12vw;
}
.category-item {
  padding: 10px 0;
  margin: 10px 0;
  border-top: solid $secondary-color 1px;
}

.dashboard .category-form{
  input{
    width: 70%;
  }
}