

nav li{
  display: inline-block;
  margin-right: 30px;
}

.dashboard h4 {
  font-size: 20px;
  padding-bottom: 15px;
}

.dashboard main {
  background-color: green;
}

.dashboard p {
  font-size: 20px;
  padding: 10px;
  text-align: left;
}

.lower {
  padding: 15px;
}
.category-item {
  padding: 10px 0;
  margin: 10px 0;
  border-top: solid #999 1px;
}

.dashboard .category-form{
  input{
    width: 80%;
  }
}