header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $dark-grey;
  padding: $gutter-sm;
  margin-bottom: $gutter-sm;
  
  h3 {
    font-size: $font-med;
    color: $secondary-color;
    float: left;
  }
    ul {
    float: right;
  }
  a {
    font-size: $font-med;
  }
}

