@import '../../style/lib/vars';
@import '../../style/lib/mixins';

.expense-container {
  clear: both;
  border: 1px solid $dark-grey;
  @include border-radius($radius);
  background-color: #eee;

  .add-expense {
    float: left;
    width: 30%;
  }
}

.remove {
  border: 0px;
  float: right;
  color: $dark-grey;
  background: none;
  padding: $gutter-sm;
  font-size: $font-med;
  margin: 0;
}

.content {
  h2 {
    display: block;
    padding-top: 1vw;
    float: left;
    margin-right: $gutter-lg;
  }
  p {
    display: block;
    font-size: $font-med;
    float: left;
    padding: 0;
    // margin-top: 5px;
    padding-top: $gutter-sm  + .5vw;
  }

}
.edit {
  input {
    float: right;
    
  }
  .form-button {
    float: right;
    
  }
}
