.expense-container {
  clear: both;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #eee;

  .add-expense {
    // float: left;
    width: 30%;
  }
}

.remove {
  border: 0px;
  float: right;
  background-color: #d8d8d8;
  padding: 10px;
  font-size: 15px;
}

.content {
  h2 {
    display: block;
    
    float: left;
    margin-right: 10px;
  }
  p {
    display: block;
    font-size: 15px;
    float: left;
    padding: 0;
    margin-top: 5px;
  }

}
.edit {
  input {
    float: right;
    margin: 0;
  }
  .form-button {
    float: right;
    
  }
}
